body{
    margin: 0; 
    padding: 0;
    color: #000;
}

h2{
    font-weight: 800;
}


/* ---------- Style Partie gauche ---------- */

/* div carousel */
.carousel {
    height: 100%; 
    width: 100%;
}

.title{
    position: absolute;
    top: 8vh;
    left: 1vw;
}


/* ---------- Style Partie gauche ---------- */

/* la navigation */
ul {
    display: flex;
    flex-wrap: wrap;
    margin: 5vh 8vw 0 2vw;
}

ul li{
    list-style: none;
    margin: 0 6vw;
    font-weight: 600;
}

.active { /* "Album" de la navigation */
    border-bottom: 2px solid #000;
}

/* Akbar KHAN */
.auteur{
    position: relative;
    top: 10vh;
    left: 10vw;
}


/* Partie musique */
.music{
    margin: 60vh 0 20vh 8vw;
}

/* bouton play/pause */
.play{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #000;
}

/* la barre */
#progressbar{
    display: inline-block;
    background: #000;
    width: 90%;
    height: 10px;
}
